{% if edit == true %}
    <div class="d-flex justify-content-start container p-3 w-100">
        <button data-role="media" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#mediaForm">
            <i class="fas fa-circle-plus"></i>
            Ajouter un média
        </button>
    </div>
{% endif %}
<div class="d-flex justify-content-center">
    <button data-role=seeMedias type="button" class="d-block d-sm-none btn btn-sm btn-outline-primary mt-2">Voir les médias</button>
</div>
<div id="containerMedias" class="d-none d-flex d-sm-flex flex-nowrap container w-100 justify-content-start gap-2 mt-2 p-2">
    <div class="d-flex flex-column">
        <div data-media-trick class="d-flex justify-content-center position-relative bg-white bg-opacity-50">
            {% if trick.pictureFeatured %}
                <img
                        data-media="image"
                        class="shadow p-1 bg-warning bg-primary"
                        src="{{ asset("assets/images/tricks/" ~ trick.pictureFeatured.link ) }}"
                        alt="image de '{{ trick.pictureFeatured.sourceName ?? "Inconnu" }}' - {{ trick.name }}"
                />
                <div data-media-source class="{{ trick.pictureFeatured.sourceName ? "d-flex" : "d-none" }} position-absolute start-0 bottom-0 w-100 p-1">
                    <div class="d-flex w-100 gap-2 p-2 link-light bg-dark bg-opacity-75">
                        <span>Source: </span>
                        <a class="link-info" href="{{ trick.pictureFeatured.sourceLink ?? '#' }}">{{ trick.pictureFeatured.sourceName ?? "" }}</a>
                    </div>
                </div>
                <i class="fa-solid fa-bookmark position-absolute end-0 top-0 m-2 text-warning fs-2"></i>
            {% else %}
                <div class="d-flex position-relative align-items-center justify-content-center icon-image p-1 shadow bg-warning">
                    <div class="d-flex flex-column align-items-center justify-content-center bg-white w-100 h-100">
                        <i class="fas fa-image fs-1"></i>
                        <i class="fa-solid fa-bookmark position-absolute end-0 top-0 m-2 text-warning fs-2"></i>
                        <span class="small">Aucune image mise en avant</span>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if edit == true %}
            <div class="d-flex flex-row gap-1 justify-content-end mt-1 me-1">
                {% if trick.pictureFeatured %}
                    <button
                            data-role="featured"
                            data-media-id="{{ trick.pictureFeatured.id }}"
                            type="button"
                            class="btn btn-sm btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#mediaForm"
                    >
                        <i class="fas fa-pen"></i>
                    </button>
                    <a
                            data-media-action="delete"
                            data-media-type="image"
                            class="btn btn-sm btn-danger"
                            href="{{ trick.pictureFeatured ? path("app_trick_delete_media", { 'method': "edit", 'id': trick.pictureFeatured.id }) : "#" }}"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                {% else %}
                    <button
                            data-role="featured"
                            type="button"
                            class="btn btn-sm btn-warning"
                            data-bs-toggle="modal"
                            data-bs-target="#mediaForm"
                    >
                        <i class="fas fa-circle-plus"></i>
                        Ajouter
                    </button>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% for mediaTrick in trick.mediaTricks|filter(mediaTrick => mediaTrick.type == "image") %}
        <div class="d-flex flex-column">
            <div data-media-trick class="d-flex justify-content-center position-relative">
                <img
                        data-media="image"
                        class="shadow p-1 {{ loop.first and not trick.pictureFeatured ? "bg-primary" : "bg-white" }}"
                        src="{{ asset("assets/images/tricks/" ~ mediaTrick.link ) }}"
                        alt="image de '{{ mediaTrick.sourceName ?? "Inconnu" }}' - {{ trick.name }}"
                />
                <div data-media-source class="{{ mediaTrick.sourceName ? "d-flex" : "d-none" }} position-absolute start-0 bottom-0 w-100">
                    <div class="d-flex w-100 gap-2 p-2 link-light bg-dark bg-opacity-75">
                        <span>Source: </span>
                        <a class="link-info" href="{{ mediaTrick.sourceLink ?? '#' }}">{{ mediaTrick.sourceName }}</a>
                    </div>
                </div>
            </div>
            {% if edit == true %}
                <div class="d-flex flex-row gap-1 justify-content-end mt-1 me-1">
                    <button
                            data-role="media"
                            data-media-id="{{ mediaTrick.id }}"
                            type="button"
                            class="btn btn-sm btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#mediaForm"
                    >
                        <i class="fas fa-pen"></i>
                    </button>
                    <a
                            data-media-action="delete"
                            data-media-type="image"
                            class="btn btn-sm btn-danger"
                            href="{{ path("app_trick_delete_media", { 'method': "edit", 'id': mediaTrick.id }) }}"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
    {% for mediaTrick in trick.mediaTricks|filter(mediaTrick => mediaTrick.type == "video") %}
        <div class="d-flex flex-column">
            <div data-media-trick class="d-flex justify-content-center position-relative">
                <div
                        data-media="video"
                        data-video-link="{{ mediaTrick.link }}"
                        class="d-flex align-items-center justify-content-center icon-image shadow p-1
                                {{ loop.first and not trick.pictureFeatured and trick.mediaTricks|filter(mediaTrick => mediaTrick.type == "image")|length == 0 ?
                        "bg-primary" :
                        "bg-white"
                        }}"
                >
                    <div class="d-flex flex-column align-items-center justify-content-center bg-white w-100 h-100">
                        <i class="fas fa-film fs-1"></i>
                        <span class="small">Vidéo</span>
                    </div>
                </div>
            </div>
            {% if edit == true %}
                <div class="d-flex flex-row gap-1 justify-content-end mt-1 me-1">
                    <button
                            data-role="media"
                            data-media-id="{{ mediaTrick.id }}"
                            type="button"
                            class="btn btn-sm btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#mediaForm"
                    >
                        <i class="fas fa-pen"></i>
                    </button>
                    <a
                            data-media-action="delete"
                            data-media-type="vidéo"
                            class="btn btn-sm btn-danger"
                            href="{{ path("app_trick_delete_media", { 'method': "edit", 'id': mediaTrick.id }) }}"
                    >
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
