{% if is_granted("ROLE_USER") %}
    <hr class="w-50 align-self-center">
    <div id="containerAddComments" class="d-flex flex-column flex-sm-row container align-items-center justify-content-center w-100 gap-2 p-3">
        {{ form_start(formComment) }}
        {{ form_rest(formComment) }}
        <div class="d-flex justify-content-center me-0 me-sm-5">
            <button type="submit" class="btn btn-sm btn-primary">Ajouter un commentaire</button>
        </div>
        {{ form_end(formComment) }}
    </div>
{% endif %}
<hr class="w-50 align-self-center">
<div id="containerComments" class="container d-flex flex-column align-items-center justify-content-center my-3">
    {% if comments|length %}
        {% for index,comment in comments %}
            <div {{ app.request.query.get("pageComments") and index == (app.request.query.get("pageComments") - 1) * 5 ? "data-page-index" : "" }} class="d-flex flex-column justify-content-center align-content-center w-75 mb-3">
                <div class="d-flex justify-content-center shadow rounded p-0 p-lg-3">
                    <div class="d-flex justify-content-center align-items-center p-1">
                        {% if comment.author.picture %}
                            <img style="width: 50px; height: 50px;" class="rounded-circle p-2 d-flex align-items-center justify-content-center shadow bg-white text-white" src="{{ asset("assets/images/profiles/" ~ comment.author.picture) }}" alt="Image Avatar Author" />
                        {% else %}
                            <div style="width: 50px; height: 50px;" class="rounded-circle p-2 d-flex align-items-center justify-content-center shadow bg-secondary text-white">
                                <span class="fs-1">{{ comment.author.username|first|upper }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="flex-fill d-flex justify-content-start align-items-center ms-2 ps-3 border-start border-secondary">
                        <span data-comment-id="{{ comment.id }}" data-role="comment-content">{{ comment.content }}</span>
                    </div>
                </div>
                <div class="d-flex flex-column flex-lg-row align-items-center {{ app.user == comment.author ? "justify-content-between" : "justify-content-end" }} w-100">
                    {% if app.user == comment.author %}
                        <div class="d-flex flex-row small">
                            <button data-comment-id="{{ comment.id }}" data-role="comment-edit" type="button" class="btn btn-sm p-0 link-secondary" data-bs-toggle="modal" data-bs-target="#editCommentForm">Modifier</button>,
                            <a data-role="comment-delete" href="{{ path("app_comment_delete",  { id: comment.id }) }}" class="link-danger ms-1">Supprimer</a>
                        </div>
                    {% endif %}
                    <div class="d-flex flex-column flex-sm-row align-items-center small fst-italic mt-1">
                        <p class="m-0">
                            le <span class="mx-1 small">{{ comment.createdAt|date("d/m/Y") }}</span> par
                            <span class="badge bg-dark text-white mx-1">{{ comment.author.username|upper }}</span>
                        </p>
                        {% if comment.updatedAt %}
                            <span class="small">(Modifié le {{ comment.updatedAt|date("d/m/Y") }})</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if not endOfComments %}
            <div class="d-flex justify-content-center">
                <a
                        class="btn btn-sm btn-primary"
                        href="{{ path("app_trick_details", {
                            "slug": trick.slug,
                            "pageComments": app.request.query.get("pageComments") ? app.request.query.get("pageComments") + 1 : 2
                        }) }}"
                >
                    Voir plus
                </a>
            </div>
        {% endif %}
    {% else %}
        <p>
            Aucun commentaire, soyez le premier !
            {% if not is_granted("ROLE_USER") %}
                <a href="{{ path("app_auth_login") }}" class="link-primary">Se connecter</a>
            {% endif %}
        </p>
    {% endif %}
</div>
