{% extends 'base.html.twig' %}

{% block title %}Figure {{ trick.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/styles/trick.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset("assets/styles/trick-details.css") }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/scripts/details-trick.js") }}" type="module" defer></script>
    <script src="{{ asset("assets/scripts/edit-trick.js") }}" type="module" defer></script>
    <script src="{{ asset("assets/scripts/trick-medias.js") }}" type="text/javascript"></script>

    {% if formMediaTrick.vars.submitted %}
        <script type="application/javascript" defer>
            window.addEventListener("DOMContentLoaded", function() {
                if (document.querySelector("input#media_trick_isFeatured").checked) {
                    document.querySelector("button[data-role=featured]").click();
                } else {
                    document.querySelector("button[data-role=media]").click();
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="flex-fill d-flex flex-column">
        <div id="containerActions" class="d-flex justify-content-start container p-3 w-100">
            <a data-role=deleteTrick class="btn btn-danger btn-sm" href="{{ path("app_trick_delete", { 'slug': trick.slug } ) }}">
                <i class="fas fa-trash"></i>
                Supprimer la figure
            </a>
        </div>

        {% include "trick/components/media-show.html.twig" with { 'trick': trick, "edit": true } %}
        {% include "trick/components/container-medias.html.twig" with { "trick": trick, "edit": true } %}

        <div id="containerInfos" class="container d-flex flex-wrap justify-content-start w-100 gap-3 p-3">
            <span class="badge bg-dark text-white py-3 px-4">Créé le : {{ trick.createdAt|date("d/m/y") }}</span>
            <span class="badge bg-dark text-white py-3 px-4">Auteur : {{ trick.author.username }}</span>
            {% if trick.lastUpdatedAt %}
                <span class="badge bg-dark text-white py-3 px-4">Modifié le : {{ trick.lastUpdatedAt|date("d/m/y") }}</span>
            {% endif %}
        </div>
        {{ form_start(formTrick, {"attr": {"class": "w-100 p-3 mb-5 rounded container"}}) }}
        {{ form_rest(formTrick) }}
        <div class="d-flex w-100 gap-3 justify-content-center justify-content-sm-end align-items-center">
            <button type="button" id="btnCancelEditTrick" class="d-none btn btn-sm btn-outline-danger">Annuler les modifications</button>
            <button id="btnSaveTrick" type="submit" class="btn btn-sm btn-primary disabled">Enregistrer</button>
        </div>
        {{ form_end(formTrick) }}

        {% include "trick/components/modal-form-add-trick.html.twig" with { 'form': formMediaTrick } %}
        {% include "trick/components/modal-link-video-infos.html.twig" %}

    </div>
{% endblock %}
