{% extends 'base.html.twig' %}

{% block title %}Figure {{ trick.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/styles/trick-details.css") }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("assets/scripts/details-trick.js") }}" type="module"></script>
    {% if is_granted("ROLE_USER") %}
        <script src="{{ asset("assets/scripts/comment.js") }}" type="module"></script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="flex-fill d-flex flex-column">

        {% include "trick/components/media-show.html.twig" with { "trick": trick, "edit": false } %}

        <div class="d-flex justify-content-center mt-3">
            <button data-role=seeMedias type="button" class="d-block d-sm-none btn btn-sm btn-outline-primary">Voir les médias</button>
        </div>

        {% include "trick/components/container-medias.html.twig" with { "trick": trick, "edit": false } %}

        <div id="containerDescription" class="container d-flex w-100 gap-3 p-3">
            {{ trick.description|nl2br }}
        </div>
        <div id="containerInfos" class="container d-flex flex-wrap justify-content-center w-100 gap-3 p-3">
            <span class="badge bg-dark text-white py-3 px-4">Créé le : {{ trick.createdAt|date("d/m/y") }}</span>
            <span class="badge bg-dark text-white py-3 px-4">Auteur : {{ trick.author.username }}</span>
            <span class="badge bg-dark text-white py-3 px-4">Groupe : {{ trick.groupTrick }}</span>
            {% if trick.lastUpdatedAt %}
                <span class="badge bg-dark text-white py-3 px-4">Modifié le : {{ trick.lastUpdatedAt|date("d/m/y") }}</span>
            {% endif %}
        </div>

        {% include "trick/components/container-comments.html.twig" with { 'formComment': formComment } %}

        {% if is_granted("ROLE_USER") %}
            {% include "trick/components/modal-form-edit-comment.html.twig" with { 'form': formEditComment } %}
        {% endif %}
    </div>
{% endblock %}
